#setting-container{
    width: 288px;
    height: 250px;
    padding: 16px;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 25.6px 57.6px rgba(0, 0, 0, 0.13), 0px 0px 16.4px rgba(0, 0, 0, 0.11);
    /* display: flex; */
    display: none;
    z-index: 9;
}
#bg-blur{

}

.bg-atomization{
    position: relative;
    height: 20px;
}
.zui-slider {
    margin-top: 20px;
}
#setting-container label:first {
    margin-top: 20px;
}
.bg,#time,.link-item,label{
    user-select: none;
}

@media screen and (max-height: 600px) {
    #clock{
        /*display: none;*/
    }
}

.search-input:focus #time{
    display: none;
}


@media screen and (max-height: 800px) {

    .container:focus-within #clock{
        top: 10px !important;
    }
    #clock{
        top:12%
    }
}

@media screen and (max-height: 600px){
    .container:focus-within #clock{
        display: none !important;
    }

}

@media screen and (max-height: 500px){
    #clock{
        display: none !important;
    }
}