/* search css */
.search-wrapper {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    width: 300px;
    transition: all 0.2s ease-in-out;
}

.input-holder {
    overflow: hidden;
    height: 50px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in;

}

#clock {
    transition: all 0.2s ease-in-out;
}


.search-input {
    width: 100%;
    height: 30px;
    /*padding:0px 70px 0 0;*/
    border: none;
    outline: none;

    position: relative;
    font-size: 16px;

    top: 10px;
    left: 0;
    background: transparent;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.search-input:focus{
    width: 380px;
}

.search-input::-ms-input-placeholder {
    text-align: center;
}

input::-webkit-input-placeholder {
    text-align: center;
}

.search-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    transform: rotate(45deg);
    cursor: pointer;
    margin: 10px;
    position: relative;
    float: right;
    display: none;
    transition: all 0.2s ease-in;

}

.search-icon::after {
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;
    border-radius: 16px;
    border: 4px solid rgba(255, 255, 255, 0.5);
    content: '';
    position: absolute;
}

.search-icon::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.5)
}


/* keywords */

.keywords {
    display: none;
    transition: all 0.2s ease-in-out;
    opacity: 1;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    min-height: 31px;
    border-radius: 10px;
    width: 300px;
    position: absolute;
    /*width: auto;*/
}

.keywords div {
    height: 16px;
    /*margin-top: 7px;*/
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.keywords .search-link:hover {
    padding-left: 40px;
    background-color: rgba(100, 100, 100, 0.5);

}

.search-link:first-child {
    padding-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.search-link:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.search-link .quick {
    float: right;
    font-size: x-small;
}


.search-radius {

    margin-top: 30px;

    display: flex;
    align-items: center;

    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.search-radius button {
    padding-top: 5px;
    padding-bottom: 5px;

    margin-left: 15px;
    margin-right: 15px;
    align-content: center;
    line-height: 1;
    font-family: inherit;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 374px;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.1s ease-in-out;
    font-size: 14px;
    min-width: 32px;
    border: 2px solid transparent;
    border-radius: 19px;
    width: 110px;
    background: rgba(0, 0, 0, 0.3);

}

.search-radius button.active {
    background: rgba(250, 250, 250, 0.3);
}

.search-radius button:hover {
    background: rgba(250, 250, 250, 0.3);

}

@media screen and (max-width: 560px) {
    .search-wrapper, .input-holder {
        width: 200px;
    }

    .keywords {
        width: 200px
    }
}

@media screen and (min-width: 1000px) {

    .keywords {
        width: 450px
    }

    .search-wrapper {
        width: 450px;
    }

}

::-webkit-input-placeholder { /* WebKit browsers */

    color: rgba(255, 255, 255, 0.9);

    font-size: 16px;
}

::-webkit-input-placeholder:focus { /* WebKit browsers */
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

/* setting */


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.setting {
    position: absolute;
    z-index: 1;
    top: 70px;
    right: 100px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.setting::before, .setting::after {
    position: absolute;
    content: '';
    background: rgba(180, 180, 180, 0.5);
    border-radius: 2px;
}

.setting::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0;
}

.setting::after {
    width: 25px;
    height: 5px;
    left: 0;
    top: 10px;
}

.setting:hover::after, .setting:hover::before {
    background: rgba(255, 255, 255, 0.8);
    content: '';

}


#setting-container {
    position: absolute;
    top: 105px;
    right: 100px;
    height: 305px;
    width: 320px;
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

#setting-container::before {
    filter: blur(20px)
}

/*function tab*/


.function-tab-container {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 60%;
    display: block;
    transition: all 0.2s ease-in-out;
}

.function-navigation {
    height: 90px;
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: relative;
    /*background-color: rgba(0,0,0,0.5);*/

}

.link-item, .item-plus {
    width: 108px;
    height: 90px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    position: relative;
}

.item-plus:hover, .link-item:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.link-item:hover .item-icon {
    background-color: rgba(200, 200, 200, 0);
}

.link-item:hover .item-desc p {
    color: black;
    transition: all 0.5s ease-in-out;
}

.item-icon {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

.item-icon img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    display: block;
}

.item-desc {
    text-align: center;
}

.item-desc p {
    color: white;
    width: 84px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item-plus .plus-icon {
    position: relative;
    text-align: center;
}


.plus-container {
    width: 288px;
    height: 250px;
    padding: 16px;
    margin-top: auto;
    margin-bottom: auto;
    flex-direction: column;
    position: absolute;
    bottom: 100px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 25.6px 57.6px rgba(0, 0, 0, 0.13), 0 0 16.4px rgba(0, 0, 0, 0.11);
    /*display: flex;*/
    display: none;
    z-index: 9;
}

.close-plus-container, .close-setting-container {
    float: right;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 6px;
    cursor: pointer;
}

.delete-link-item {
    float: right;
    height: 20px;
    width: 20px;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: none;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.link-item:hover .delete-link-item {
    display: block;
}

.delete-link-item :hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.close-plus-container:hover, .close-setting-container:hover {
    background-color: rgba(150, 150, 150, 0.8);
}

.close-plus-container:hover svg {
    fill: white;
}

.form-item {
    width: 100%;
}

label {
    display: block;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 32px !important;
    margin-top: auto;
    margin-bottom: auto;
    width: 80px;
    text-align: left;
}

.form-item input, #setting-container input {
    width: 288px;
    padding: 6px 12px;
    font-family: inherit;
    box-sizing: border-box;
    margin: 0;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #BEBEBE;
}

.form-item button {
    align-content: center;
    line-height: 1;
    font-family: inherit;
    cursor: pointer;
    box-sizing: border-box;
    max-width: 374px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.1s ease-in-out;
    font-size: 14px;
    min-width: 32px;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 2px;
    width: 140px;
    margin-top: 25px;

}

.form-item .form-btn-add {
    color: #FFFFFF;
    fill: #FFFFFF;
    background: #0078D4;
    margin-right: 4px;

}

.search-mode {
    display: block;
}

.focus-mode {
    display: none;
}

button {
    outline: none;
}